<footer>
<div class="row" id="footerrow">
    <div class="col-lg-4 col-sm-12">
        <h4>Ветеринарен кабинет - "Санитус"</h4>
        <p><i class="material-icons">location_on</i> ж.к Вл. Варненчик,пазар над бл. 20</p>
        <p><i class="material-icons">phone</i> +359 382 312 534</p>
        <p><i class="material-icons">phone_iphone</i> 0889 324125</p>
		<p><i class="material-icons">email</i> sanitus@abv.bg</p>
		<p><i class="material-icons">email</i> sanitus@abv.bg</p>
    </div>
	<div class="col-lg-4 col-sm-12">
		<h4>Нашите Лекари</h4>
		<p>Д-р Богдан Филипов <br>тел: 0878 640316</p>
		<p>Д-р Дарина Филипова <br>тел: 0878 630316 </p>
		<p>Д-р Ирина Илиева <br>тел: 0878 937631</p>
	</div>
	<div class="col-lg-3 col-lg-offset-1 col-sm-12">
		<ul>
			<li><a href="index.php">Начало</a></li>
			<li><a href="health_goods_all.php">Услуги</a></li>
			<li><a href="foods.php">Зоомагазин</a></li>
			<li><a href="gallery.php">Галерия</a></li>
			<li><a href="crew.php">Екип</a></li>
			<li><a href="faq.php">Въпроси и отговори</a></li>
			<li><a href="contact.php">Контакти</a></li>
			<li><a href="hour_reserve.php">Запазване на час</a></li>
		</ul>
    </div>
</div>
</footer>
