main {
  min-height: 35em;
}

main header {
  letter-spacing: 0px;
}

main section {
  width: 100%;
}

main section figure {
  margin-bottom: 1em;
}

main section figure img {
  width: 95%;
  min-height: 5em;
  max-height: 25em;
  border: 4px outset white;
  border-radius: 4em;
  box-shadow: 6px 7px 5px grey;
}

main section article {
  padding: 2em !important;
  text-align: justify;
  background: linear-gradient(white, #AAE6FA, white);
  box-shadow: 6px 7px 5px grey;
  border: 4px outset white !important;
  border-radius: 4em;
}

main section article ul li.first {
  list-style: none;
  cursor: pointer;
  color: #337ab7 !important;
  margin-bottom: 1em;
  font-size: 1.2em;
  font-weight: bold;
}

main section article ul li.first .links {
  color: #337ab7 !important;
}

main section article ul li.first .links:hover {
  text-decoration: underline overline;
}

main section article ul li.first ul {
  display: none;
  font-size: 0.7em;
  padding-top: 0.5em;
}

main section article ul li.first ul li {
  padding: 0.7em 0;
  text-decoration: none !important;
}

main section article ul li.first ul li a {
  color: #1567ff !important;
}

main section article ul li.first ul li a:hover {
  text-decoration: underline overline;
}
