main {
  min-height: 30em !important;
}

main header h2 {
  letter-spacing: 0px;
}

main form textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 15em;
  min-height: 10em;
}

main form #hiddenUserId {
  visibility: hidden;
}

main form div.g-recaptcha {
  margin-bottom: 1em;
}

main form div.g-recaptcha div:first-of-type {
  margin: auto;
}

main form button[type='submit'] {
  margin-top: 1em;
}

main form p:first-of-type, main form span, main form #alertMsg {
  color: red !important;
}

main form #alertMsg {
  text-align: center;
}

main form #signsTable {
  margin-bottom: 15px;
}

main div.alert {
  text-align: center;
}

#links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 2px dotted #07b0ff;
  border-top: 2px dotted #07b0ff;
}

#links a {
  font-size: 1.5em;
  font-weight: bold;
}

@media screen and (max-width: 450px) {
  #links {
    flex-direction: column;
    text-align: center;
  }
  #links a:first-of-type {
    margin-bottom: 1em;
  }
}
