main #myCarousel .item img {
	
	margin: auto;
    height: 22em;
    max-height: 30em;
    margin-bottom: 1%
}

main ul  li {
    list-style: none;
}

main ul  li  i {
    margin-right: 2%;
}

main section div:first-of-type, main article{
    text-align: justify;

}

main section article {
    padding: 1em 0 1em 0;
}
main section article:nth-of-type(2) ul {
    padding: 0;
}
main section article:first-of-type, main section article:last-of-type, main section article:nth-of-type(2) h4 {
    text-align: center;
}


main section article  {
    margin: 0;
    height: 22em;
    background-color: #AAE6FA;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

main section article:nth-of-type(2) ul li{  
   margin-bottom: 3%;  
   border-bottom: 2px dotted black;  
}

main section article:nth-of-type(2) ul li span{ 
    float: right;    
}

main section article h4{
   color: white;
}



@media screen and (max-width: 1100px){
   
    main #myCarousel .item img {
        height: 200px !important;
        width: 60%;
    }
	 
}

@media screen and (max-width: 800px){
    main section article {
        height: 15em;
    }
}

@media screen and (max-width: 500px){
    
    main #myCarousel .item img {
        height: 120px !important;
        width: 70%;
    }

    main section {
        padding: 0 1em 0 1em;
    }
	
}
